.about-brief {
  // background-color: rgba(0, 0, 0, 0.1);
  padding: 0 0 4rem 0;
}

.about-tou {
  padding: 3rem;
  .container {
    max-width: 1200px;
  }
  @include media-breakpoint-down(sm) {
    .col-6 {
      width: 100%;
    }
  }
  .txtbox {
    padding: 1.5rem;
    // margin-right: -10%;
    z-index: 1;
    position: relative;
    color: black;
    // color: var(--bs-white);

    // &::after {
    //   content: '';
    //   position: absolute;
    //   z-index: -5;
    //   top: 0;
    //   left: 0;
    //   width: 18rem;
    //   height: 18rem;
    //   transform: rotate(70deg);
    //   transform-origin: 50% 50%;
    //   background-color: rgba($orange, 0.6);
    // }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background-color: rgba(0, 0, 0, 0.8);
      z-index: -10;
      // box-shadow: -1px -1px 1px 1px $orange;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }
  .pic-box {
    // margin-left: -10%;
    overflow: hidden;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-left: 0;
      height: 200px;
    }
    @include media-breakpoint-down(lg) {
      margin-left: 0;
      width: 100%;
      height: 200px;
    }
  }
  &-img {
    object-fit: contain;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

.about-concept {
  padding: 3rem 0;

  @include media-breakpoint-down(md) {
    .col-4 {
      width: 80%;
    }
  }

  .container:first-child {
    max-width: 800px;
    @include media-breakpoint-down(lg) {
      max-width: 80%;
    }
  }
  .container:last-child {
    max-width: 70%;
    @include media-breakpoint-down(lg) {
      max-width: 90%;
    }
  }
}
.feature-box {
  background-color: rgba(white, 0.8);
  padding: 3rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(black, 0.15);
  transition: transform 0.3s;

  @include media-breakpoint-down(lg) {
    padding: 2rem;
    max-width: 80%;
  }
  @include media-breakpoint-down(md) {
    max-width: 100%;
    padding: 1.5rem;
    margin-bottom: 3rem;
  }

  h4 {
    color: var(--bs-warning);
  }
  &__icon {
    color: black;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }
}

.about-region {
  padding: 3rem 0;
  .container {
    max-width: 800px;
    @include media-breakpoint-down(lg) {
      max-width: 80%;
      .col-6 {
        width: 100%;
      }
    }
  }

  .pic-box {
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }
}

.about-client {
  padding: 3rem 0;
  .container {
    max-width: 800px;
    @include media-breakpoint-down(lg) {
      max-width: 80%;
    }
  }
}

.about-indust {
  padding: 3rem 0;
  .container {
    max-width: 800px;
    @include media-breakpoint-down(lg) {
      max-width: 80%;
    }
  }
}
