.cards {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 20rem;
  @include media-breakpoint-down(lg) {
    height: auto;
    perspective: none;
    display: flex;
  }
  &__side {
    transition: all 0.8s;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -wekbit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3rem;
    box-shadow: 0 0 1rem rgba($orange, 0.4);
    overflow: hidden;

    &--front {
      transform: rotateY(0deg);
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);
      color: var(--bs-white);
      background-image: linear-gradient(135deg, $orange, $yellow);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    height: 20rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    &--1 {
      background: url(../../public/img/TW.png) top / cover;
    }

    &--2 {
      background: url(../../public/img/CN.png) top / cover;
    }
  }
  &__txtbox {
    height: 20rem;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    ol li {
      list-style-type: decimal;
    }
  }

  @include media-breakpoint-down(lg) {
    &__side {
      transition: all 0.8s;
      height: 20rem;
      position: static;
      -wekbit-backface-visibility: visible;
      backface-visibility: visible;
      border-radius: none;
      box-shadow: 0 0 1rem rgba($orange, 0.4);
      overflow: hidden;

      &--front {
        transform: rotateY(0deg);
        background-color: white;
        width: 60%;
      }

      &--back {
        transform: rotateY(0deg);
        color: var(--bs-white);
        background-image: linear-gradient(135deg, $orange, $yellow);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0deg);
    }

    &:hover &__side--back {
      transform: rotateY(0deg);
    }

    &__picture {
      height: 20rem;
      border-top-left-radius: none;
      border-top-right-radius: none;
      &--1 {
        background: url(../../public/img/TW.png) top / cover;
      }

      &--2 {
        background: url(../../public/img/CN.png) top / cover;
        @include media-breakpoint-down(lg) {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50%;
          background-color: $gray-100;
        }
      }
    }
    &__txtbox {
      height: 20rem;
      padding: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      ol li {
        list-style-type: decimal;
      }
    }
  }
}
